# key to sign HTTP requsts between this service and renderer service
SERVICES_SECRET_KEY=1234
# The base URL of the storage microservice used to persist rendered banners
STORAGE_BASE_URL=http://storage
# origin/domain
