services:
  # api service
  api:
    build: ./api/
    image: api-service
    container_name: api-service
    restart: always
    env_file: ./api/.env
    ports:
      - "${API_INTERNAL_SERVER_PORT}:80"
    environment:
      PORT: "$API_INTERNAL_SERVER_PORT"
    networks:
      - banners-net
      - api-net
      - kafka-net
    depends_on:
      kafka:
        condition: service_healthy
      api-psgr:
        condition: service_started
  # api service's Postgres database
  api-psgr:
    image: postgres:15
    env_file: ./api/.env
    container_name: api-psgr
    networks:
      - api-net
    volumes:
      - pgdata:/var/lib/postgresql/data
  # one instance of rendere service
  renderer:
    build: ./renderer/
    image: renderer
    container_name: renderer
    networks:
      - banners-net
      - kafka-net
    depends_on:
      kafka:
        condition: service_healthy
  # storage service
  storage:
    build: ./storage/
    container_name: storage
    networks:
      - banners-net
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_LOG4J_ROOT_LOGLEVEL: WARN
      KAFKA_LOG_DIRS: /var/lib/kafka/data
    networks:
      - kafka-net
    healthcheck:
      test: "sh /opt/kafka/bin/kafka-topics.sh --list --bootstrap-server localhost:9092"
      interval: 1s
      timeout: 1s
      retries: 30
    volumes:
      - kafka-data:/var/lib/kafka/data 
volumes:
  pgdata:
    name: postgres_db_crud
  kafka-data:
    name: kafka-data
networks:
  api-net:
    driver: bridge
  banners-net:
    driver: bridge
  kafka-net:
    driver: bridge
